:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #262424;
    --cor-destaque: #415DEA;
    --cor-selecionado: #2785ff;
    --cor-erro: #FF1A1A;
}

.tema-escuro {
    --cor-primaria: #262424;
    --cor-secundaria: #FFFFFF;
}