@media (max-width: 1150px) {
    .integrale-logo {
        width: 0;
    }
    .cadastro {
        width: 100%;
    } 
    .tema-botao, .tema-botao:hover {
        color: var(--cor-primaria);
        background-color: var(--cor-destaque);
        border-color: var(--cor-destaque);
        top: 3%;
        opacity: 1;
        .preenchimento, .linha {
           fill: var(--cor-primaria);
        }
    }
}
@media (max-width: 600px) {
    * {
        font-size: 17px;
    }
    /*-------------------*/
    .formulario-cadastro {
        align-items: center;
        width: 100%;
    }
    .formulario-cadastro h1 {
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }
    /*-------------------*/
    .formulario {
        width: 67%;
    }
    .input-dado {
        margin-bottom: 40px;
    }
    #enviar {
        width: 100%;
        margin-top: 30px;
    }
    /*-------------------*/
    #info-site {
        width: 100%;
        left: 0;
        text-align: center;
    }
    .erro {
        bottom: 35px;
    }
    .view {
        height: 25px;
    }
    .tema-botao {
        height: 60px;
        width: 60px;
    }
    .tema-botao svg {
        height: 42px;
        width: 42px;
    }
} @media (max-width: 450px) {
    .erro {
        bottom: 27px;
    }
    .formulario-cadastro h1 {
        font-size: 3.25em;
        margin-bottom: 50px;
    }
    .input-dado {
        margin-bottom: 32px;
    }
} 