@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 20px;
}

h1 {
    color: var(--cor-destaque);
    font-size: 3.75em;
}
.formulario-cadastro h1 {
    width: 100%;
    margin-bottom: 50px;
}

.erro {
    position: relative;
    bottom: 50px;
    font-size: 0.80em;
    display: flex;
    color: var(--cor-erro);
    font-weight: 600;
    height: 0;
    align-self:flex-start;
}
.tema-botao {
    position: fixed;
}

body {
    display: flex;
    height: 100vh;
}

.cadastro, .integrale-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.integrale-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-destaque);
    flex-grow: 1;
}

.integrale-logo img {
    max-width: 450px;
    width: 70%;
}

.cadastro {
    width: 60%;
}

.formulario-cadastro {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-self: center;
    max-width: 680px;
    width: 70%;
    min-width: 450px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 80%;
    min-width: 370px;
}

.formulario input{
    width: calc(100% - 10px);
    padding: 0px 5px;
    margin-bottom: 55px;
    border: 0;
    border-bottom: solid 2px var(--cor-secundaria);
    color: var(--cor-secundaria);
    transition: 0.2s ease;
}
.formulario input:focus {
    border: 0;
    outline: 0;
    border-bottom: solid 2px var(--cor-selecionado);
}

.formulario input:focus::placeholder {
    transition: 0.2s ease;
    color: var(--cor-selecionado);
}

.formulario .placeholder-erro {
    border-bottom: solid 2px var(--cor-erro);
}
.placeholder-erro::placeholder {
    color: var(--cor-erro);
}

#senha-erro {
    position: relative;
    width: 100%;
}

#enviar {
    color: white;
    background-color: var(--cor-destaque);
    font-weight: 600;
    border: 0;
    border-radius: 3px;
    width: 140px;
    height: 45px;
    transition: 0.2s ease;
}

#enviar:hover {
    cursor: pointer;
    background-color: var(--cor-selecionado);
}

#info-site {
    position: absolute;
    color: #00000099;
    bottom: 10px;
    left: 2%;
}

#ver-senha {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

#ver-senha svg {
    transition: 0.2s ease;
}

#ver-senha:hover {
    cursor: pointer;
}